.rounded-button-9 {
  border-radius: 2.25rem / 45% 45% 55% 55%
}

.rounded-button-8 {
  border-radius: 2rem / 45% 45% 55% 55%
}

.rounded-button-7 {
  border-radius: 1.75rem / 45% 45% 55% 55%
}

.rounded-button-6 {
  border-radius: 1.5rem / 45% 45% 55% 55%
}

