.panel-enter-active {
  & .transition-bg {
    will-change: opacity;
    transition: opacity 400ms ease-out;
  }
  & .transition-panel {
    will-change: transform;
    transition: transform 300ms ease-out;
  }
}

.panel-leave-active {
  & .transition-bg {
    transition: opacity 200ms ease-in;
  }
  & .transition-panel {
    transition: transform 300ms ease-in;
  }
}

.panel-enter,
.panel-leave-to {
  & .transition-bg {
    opacity: 0;
  }
  & .transition-panel {
    transform: translateX(100%);
  }
}

.panel-enter-to,
.panel-leave {
  opacity: 1;
  & .transition-panel {
    /* transform: translateX(0%); */
  }
}

.fade-enter-active {
  transition: opacity 200ms ease-out;
}

.fade-leave-active {
  transition: opacity 200ms ease-in;
}

.fade-enter,
.fade-leave-to {
  opacity: 0 !important;
}

.modal-enter-active {
  & .transition-bg {
    transition: opacity 200ms ease-out 100ms;
  }
  & .transition-card {
    transition: transform 400ms ease-out;
  }

}

.modal-leave-active {
  & .transition-bg {
    transition: opacity 200ms ease-in 100ms;
  }
  & .transition-card {
    transition: transform 400ms ease-in;
  }

}

.modal-enter,
.modal-leave-to {
  & .transition-bg {
    opacity: 0 !important;
  }
  & .transition-card {
    transform: translateY(100vh);
  }
  @media (prefers-reduced-motion) {
    & .transition-card {
      transform: none;
    }
  }
}

.modal-enter-to,
.modal-leave {
  & .transition-bg {
    opacity: 1 !important;
  }
  & .transition-card {
    transform: translateY(0);
  }
}
