@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  /* Brand colors */
  --brand-primary: hsl(224, 50%, 40%);
  --brand-primary--inverted: hsl(224, 90%, 95%);
  --brand-secondary: hsl(224, 30%, 50%);
  --brand-secondary--inverted: hsl(224, 100%, 7%);
  /* Typography */
  --font-family-sans-serif: 'Montserrat';
  --font-size-base: 16px;
  --text-color: var(--brand-secondary--inverted);
}